@media screen and (max-width: 760px){
    
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto; 
    }

    p{
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
        border: none;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}